* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

html {
  background-color: rgba(255, 255, 85, 0.1333333333);
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 34px;
  color: rgb(69, 236, 38);
  text-shadow: 1px 1px #222;
}

.wrapper-star {
  display: flex;
}
.wrapper-star .star {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 50px solid rgb(255, 255, 55);
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  transform: rotate(-37deg);
  margin-left: 12vw;
  margin-top: 2vh;
  scale: 1.2;
  z-index: 10;
}
.wrapper-star .star::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75px;
  border-bottom: 50px solid rgb(255, 255, 55);
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  transform: rotate(-71.5deg);
}
.wrapper-star .star::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75px;
  border-bottom: 50px solid rgb(255, 255, 55);
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  transform: rotate(71.5deg);
}
.wrapper-star .star p {
  position: relative;
  font-size: 50px;
  z-index: 2;
  transform: rotate(15deg) translate(-50px, -10px);
}

.wrapper-upper {
  display: flex;
  justify-content: right;
  margin-top: 3vh;
}
.wrapper-upper .is-enhanced, .wrapper-upper .is-shorten, .wrapper-upper .auto-slot {
  width: 200px;
  margin-right: 30px;
  font-size: 20px;
  background-color: #fff;
  border: 0.8px solid #444;
  border-radius: 10px;
}
.wrapper-upper .money {
  text-align: right;
  margin-right: 15vw;
  font-size: 20px;
}

.result {
  width: 45vw;
  height: 10vh;
  text-align: center;
  margin: 3vh auto 0 auto;
  background-color: #bf9;
  transform: translateX(5vw);
}
.result p {
  position: relative;
  font-size: 22px;
  top: 25%;
}

.wrapper-center {
  display: flex;
}
.wrapper-center .enhance {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -10vh;
  left: 5vw;
}
.wrapper-center .enhance label {
  font-size: 19px;
}
.wrapper-center .enhance button {
  margin-left: 1vw;
  height: 36px;
  font-size: 18px;
}
.wrapper-center .enhance button:nth-child(n+2) {
  margin-top: 20px;
}
.wrapper-center .slot {
  width: 45vw;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  margin-top: 3vh;
  border: 2px solid #666;
  overflow: hidden;
  transform: translateX(-5vw);
}
.wrapper-center .slot .js-text-slot {
  height: 30px;
  font-size: 19px;
}
.wrapper-center .slot .hit {
  position: absolute;
  left: inherit;
  width: 43vw;
  height: 30px;
  border: 2px solid #999;
  transform: translateX(0.8vw);
}
.wrapper-center .slot .slot-mode {
  animation-name: slot;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.button-start {
  margin-top: -12vh;
  text-align: center;
}
.button-start .start {
  width: 110px;
  height: 60px;
  font-size: 20px;
  transform: translateX(5vw);
}

.button-reset {
  text-align: right;
}
.button-reset .reset {
  width: 130px;
  height: 40px;
  font-size: 16px;
  margin-right: 10vw;
}/*# sourceMappingURL=main.css.map */